body{
    font-family: Arial, Helvetica, sans-serif;
    background:#fa2121;
    color:#fffdfd;
    margin:0;
  }

  #container{
    max-width:800px;
    margin:30px auto;
    padding:20px;
    background:#eb7d07;
  }

  h1{color:#7a0019;}
  h2{color:#fafafa;}

  img{
    width:45%;
    padding:6px;
    border:3px solid #333;
    margin:5px;
  }

  table{
    width:100%;
    border-collapse:collapse;
    margin-top:10px;
  }

  th,td{
    border:1px solid #333;
    padding:8px;
  }

  th{background:#1a1a1a;}